<!DOCTYPE html>
<html>
<head>
<meta charset="unicode" />
  <title>Activities' List</title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
<!--     <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" type="text/css" /> -->
    
<script>
        $(window).keydown(function (e) {
            var curKey = e.which;
            if (curKey == 13) {
                $('#loginUsername').submit(); 
            }
        })

      </script>
 </head>
<body>

 <div class="navigation">
  <ul>
    <li></li>
    <li><a href="/index/">Index</a></li>
    <li><a href="/myactivity/">My Agenda</a></li>
    <li id="logo">Bill Board</li>
    <li><a href="#">{{username}}</a></li>
    <li><a href="/logout/">Logout</a></li>

  </ul>
  <li><div class="inp" id="loginUsername"><input type="text" id="keyword" placeholder="Search Here" /></div></li>
  <!--<li id="search"><a href>Search</a></li>-->
  <ul>
    <ul>
      {% for label in label_list %}
        <li><a href="/activitylist/?label_id={{label.id}}">{{label.name}}</a></li>
      {% endfor %}
      
      </ul>

  </ul>
  <!--<a href>123</a>-->
  <!--<div class="inp" id="loginPassword"><input type="password" placeholder="Password" /></div>-->
  <!--<div class="login" id="loginBtn"><a href="#">Login</a></div>-->
</div>


 
  <div id="cover">
    <div class="cover-content">
      <h1>Make busy life easier</h1>
      <h2>Look for interesting activities</h2>
      <a href="/activitylist/" class="btn">View All Activities</a>
    </div>
  </div>
<!-- <div class="activities1">
    <h3 class="blue"><img src="../media/img/time.gif"/></h3>
    <h3 class="blue">Activities' List</h3>

    <table>
    {% for stage in today_agenda %}
    <tr>
      <td id="time">{{ stage.tim }}</td>
      <td id="sub_activity">
	<img src="../media/img/star.gif" height="20" width="20" />
		{{ stage.subtitle }}
	</td>
      <td id="main_activity">TREE PLANTING</td>
    </tr>
    {% endfor %}
    </table>
  </div>
-->

<div class="activities">
    <h3 class="blue">Activities' List</h3>
    <table>
        
    {% for i in activity_list %}
    <tr>
        <div id="time">{{i.pub_date}}  {{ i.time_start }}~{{ i.time_end }}</div>
        <div id="main_activity"><img src="../media/img/star.gif" height="20" width="20" />
      	<a href="/activity/?view_id={{i.id}}">{{ i.title }}</a><div>
	<div class='news_tag'>
	<a href="#">js</a>
	<a href="#">css</a>
	<a href="#">html</a>
	<a href="#">jsp</a>&nbsp;
	</div>
     </div>
     </tr>
    {% endfor %}
</div>
  <h3>All of the activities are released by users, our platform reserve the right</h3>
  
</body>
</html> 