<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="UTF-8" /> -->
<title>release</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../static/css/reset.css" rel="stylesheet" />
<link href="../static/css/main.css" rel="stylesheet"/>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script> 
<script src="../static/js/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        var total = 0;
        window.onload=function(){
            var objs = document.getElementById("nextBody").getElementsByName("Sub");
            for (var i = 0; i < objs.length; i++) {
                objs[i].id = "sub" + i;
                total++;
            }
        }

        function newstage() {
            var newStage = document.getElementById("newStage");
            var nextBody = document.getElementById("nextBody");
            nextBody.style.display = 'none';
            newStage.style.display = 'block';
        }
        function Fix(id) {
            var R = document.getElementById("newStages");
            var mainBody = document.getElementById("mainBody");
            var enquiry = document.getElementById("enquiry");
            var nextBody = document.getElementById("nextBody");
            var newStage = document.getElementById("newStage");
            var aclist = document.getElementById("aclist");
            if (id == 'mainBody') {
                document.getElementById("mainbodyform").submit();
                if (enquiry.style.display == 'none') {
                    mainBody.style.display = 'none';
                    enquiry.style.display = 'block';
                }
                if (nextBody.style.display == 'none') {
                    nextBody.style.display = 'block';
                }
            } else if (id == 'enquiry') {
                if (enquiry.style.display == 'block') {
                    enquiry.style.display = 'none';
                }
                ;
            } else if (id == 'newStage') {
                nextBody.style.display = 'none';
                newStage.style.display = 'none';
                R.removeChild("newStage");
                var oDiv = document.createElement('div');
                    oDiv.innerHTML = ' <div class="products" id="newStage" style="display:none;float:left;"><form method="post" id="nextBodyForm">{% csrf_token %}<div><input type="hidden" name="form_name" value="add_stage" /></div><div><input type="hidden" name="act_id" value={{act_id}}></div><div class="inp"><input type="text" name="time" placeholder="time" /></div><div class="inp"><input type="text" name="subtitle" placeholder="subtitle" /></div><div class="inp"><input type="text" name="brief" placeholder="brief" /></div><div class="inp"> <input type="button" value="add_stage"  onclick="Fix("newStage")" ;></div></form></div>';
                R.appendChild(oDiv);
            } else {
                ;
            }
        }
    </script>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">


<script>
        $(window).keydown(function (e) {
            var curKey = e.which;
            if (curKey == 13) {
                $('#loginUsername').submit(); 
            }
        })

      </script>
 </head>
<body>

 <div class="navigation">
  <ul>
    <li></li>
    <li><a href="/index/">Index</a></li>
    <li><a href="/myactivity/">My Agenda</a></li>
    <li id="logo">Bill Board</li>
    <li><a href="#">{{username}}</a></li>
    <li><a href="/logout/">Logout</a></li>

  </ul>
    <ul>
  <li><div class="inp" id="loginUsername"><input type="text" id="keyword" placeholder="Search Here" /></div></li>
  <!--<li id="search"><a href>Search</a></li>-->
  </ul>
    <ul>
      {% for label in label_list %}
        <li><a href="/activitylist/?label_id={{label.id}}">{{label.name}}</a></li>
      {% endfor %}
      
      </ul>
  <!--<a href>123</a>-->
  <!--<div class="inp" id="loginPassword"><input type="password" placeholder="Password" /></div>-->
  <!--<div class="login" id="loginBtn"><a href="#">Login</a></div>-->
</div>


 
  <div id="cover">
    <div class="cover-content">
      <h1>Make busy life easier</h1>
      <h2>Look for interesting activities</h2>
      <a href="/activitylist/" class="btn">View All Activities</a>
    </div>
  </div>

  <div class="about_con">
        <div class="wrap">
           
            <div class="left">
                <div class="tit">
                    Tree Planting
                    <a href="/editactivity/?del_act_id={{act_id}}" class="btn1">delete from my post</a>
                    <a href="/index/" class="btn2">Back to index</a>
                </div>
            </div>
            <div class="right">
                <div class="activities1">
                    <div class="activities" id="Release" align=center valign=middle>
                                    <div class="products" id="mainBody">
                                        <h3 class="blue">{{title}}</h3>
                                        <form method="post" enctype="multipart/form-data" id="mainbodyform">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="edit_act" /></div>
                                            <div><input type="hidden" name="edit_act_id" value={{act_id}} ></div>
                                            <div class="inp"><input type="text" name="title" placeholder="title" /></div>
                                            <div class="inp"><input type="text" name="introduce" placeholder="intro" /></div>
                                            <div class="inp"><input type="text" name="pub_date" placeholder="date" /></div>
                                            <div class="inp"><input type="text" name="time_start" placeholder="start" /></div>
                                            <div class="inp"><input type="text" name="time_end" placeholder="end" /></div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">add_pic</label>
                                                <div class="inp"><input type="file" name="img" id="img"></div>
                                                <div class="form-group">
                                                    <div class="inp">
                                                        <input type="button" value="relese"  onclick='Fix("mainBody")' ;>
                                                    </div>
                                                </div></div>
                                        </form>
                                     </div>
                                    <div class="products" id="enquiry" onclick='Fix("enquiry")' style="display:none;float:left;">
                                            <div>builder={{ activity.builder.user.username }}</div>
                                            <div>title={{ activity.title }}</div>
                                            <div>intro={{ activity.introduce }}</div>
                                            <div>date={{ activity.pub_date }}</div>
                                            <div>start={{ activity.time_start }}</div>
                                            <div>end={{ activity.time_end }}</div>
                                            <img src="/{{activity.img}}" alt="no photos">
                                    </div>
                            <div id="nextBody" style="display:none;float:left;">
                            {% for stage in stage_list %}
                                    <div class="products" name="sub" >
                                        <form method="post" id="nextBodyForm">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="edit_stage" /></div>
                                            <div><input type="hidden" name="act_id" value={{act_id}}></div>
                                            <div><input type="hidden" name="edit_stage_id" value={{stage.id}}></div>
                                            <div class="inp"><input type="text" name="time" placeholder="time" /></div>
                                            <div class="inp"><input type="text" name="subtitle" placeholder="subtitle" /></div>
                                            <div class="inp"><input type="text" name="brief" placeholder="brief" /></div>
                                            <div class="inp"><input type="submit" value="add_stage" /> </div>
                                            <div class="inp">
                                                <input type="submit" value="edit_stage">
                                            </div>
                                        </form>
                                        <a href="/editactivity/?del_stage_id={{stage.id}}" class="btn1">delete from my activity</a>
                                    </div>
                            {% endfor %}
                            <div><input type="button" value="new_stage" onclick="newstage()"/>
                            </div>
                                <div id="newStages">
                                    <div class="products" id="newStage" style="display:none;float:left;">
                                        <form method="post" id="nextBodyForm">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="add_stage" /></div>
                                            <div><input type="hidden" name="act_id" value={{act_id}}></div>
                                            <div class="inp"><input type="text" name="time" placeholder="time" /></div>
                                            <div class="inp"><input type="text" name="subtitle" placeholder="subtitle" /></div>
                                            <div class="inp"><input type="text" name="brief" placeholder="brief" /></div>
                                            <div class="inp">
                                                <input type="button" value="add_stage"  onclick='Fix("newStage")' ;>
                                            </div>
                                        </form>
                                    </div>
                              </div>
                    <div class="clear"></div>
                </div>
    </div>
    </div>
            </div>
</div></div>
</body>
</html>