<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="unicode" />
    <title>myactivities</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|BioRhyme:400,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/style3.css" />
    <script>document.documentElement.className = 'js';</script>

 </head>
<body>
    <svg class="hidden">
        <defs>
            <symbol id="icon-arrow" viewBox="0 0 24 24">
                <title>arrow</title>
                <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
            </symbol>
            <symbol id="icon-drop" viewBox="0 0 24 24">
                <title>drop</title>
                <path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
                <path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
            </symbol>
            <symbol id="icon-github" viewBox="0 0 32.58 31.77">
                <title>github</title>
                <path d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z" />
            </symbol>
        </defs>
    </svg>
    <header class="navigation">
    <ul>
    <li></li>
    <li><a href="/index/">Index</a></li>
    <li><a href="/myactivity/">My Agenda</a></li>
    <li id="logo">Bill Board</li>
    <li><a href="#">{{username}}</a></li>
    <li><a href="/logout/">Logout</a></li>

  </ul>
    </header>
    <div class="calendar-title-box">
        <div class="calendarTitle">
        <span class="prev-month" id="prevMonth" onclick="toPrevMonth()"> </span>
        <span class="calendar-title" id="calendarTitle" year={{year}} month={{month}}>  {{year}}year{{month}}month </span>
        <span id="nextMonth" class="next-month" onclick="toNextMonth()"></span>
        </div>
    </div>
    <table id="calendarTable" class="calendar-table" align="center">
        <tbody>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </tbody>
    </table>
            <main>
    
                <div class="calendar-wrap">

                    <div class="calendar">
                        {%for dat in dat_list%}
                        <div class="cube" {{dat.useful}} data-bg-color={{dat.color}} data-title={{dat.title}} number={{dat.number}}></div>
                        {%endfor%}
                    </div>
                    <div class="content">
                        {%for day in days%}
                        <div class="content__block">
                            <h3 class="content__title">My Agenda</h3>
                            {%for agenda in day%}
                            <div id={{agenda.id}}>
                                <p class="content__activity">{{agenda.activity.title}}</p>
                                <p class="content__description">{{agenda.remark}}</p>
                                <div class="content__meta">
				                </div>
                                <a href="#" class="content__edit" onclick="tishi({{agenda.remark}},{{agenda.id}})">edit</a>
                                <a href="/myactivity/?del_id={{agenda.id}}" class="content__delete">delete</a>
                            </div>
                            {%endfor%}
                        </div>
                        {%endfor%}        
                        <div class="content__number">0</div>
                        <button class="btn-back" aria-label="Back to the grid view">&crarr;</button>
                    </div><!-- /content -->
                </div>

            </main>
    
            <script src="../static/js/charming.min.js"></script>
            <script src="../static/js/anime.min.js"></script>
            <script src="../static/js/textfx.js"></script>
            <script src="../static/js/main3.js"></script>
    <div style="display:none" id="editformdiv">
        <form name="edit" id="editform">
        </form>
    </div>
    <script>
        function tishi(i,j) {
            var currentBlock = document.querySelector('.content__block--current'),
                description = currentBlock.querySelectorAll('.content__description');
            var t = prompt("编辑备注", i);

            if (t != null && t != "") {
                var ef = document.getElementById("editform");
                ef.innerHTML = '<input type="hidden" name="agenda_id" value=' + j + '><input type="hidden" name="edit_remark" value=' + i + '>';
                document.edit.submit();
            }
            
        }


        function toPrevMonth() {

            var year = document.getElementById("calendarTitle").getAttribute('year'),
            month = document.getElementById("calendarTitle").getAttribute('month');
            var preyear = year;
            var premonth = month;
            if (month == 1) {
                premonth = 12;
                preyear = parseInt(year) - 1;
            }
            else {
                premonth = parseInt(month) - 1;
            }
            window.location.href = "/myacivity/?year=" + preyear + "&month=" + premonth + "";
        }

        function toNextMonth() {

            var year = document.getElementById("calendarTitle").getAttribute('year'),
            month = document.getElementById("calendarTitle").getAttribute('month');
            var nexyear = year;
            var nexmonth = month;
            if (month == 12) {
                nexmonth = 1;
                nexyear = parseInt(year) + 1;
            }
            else {
                nexmonth = parseInt(month) + 1;
            }
            window.location.href = "/myacivity/?year=" + nexyear + "&month=" + nexmonth + "";
        }
    </script>

</body>
</html>
