<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="UTF-8" /> -->
<title>release</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../static/css/reset.css" rel="stylesheet" />
<link href="../static/css/main.css" rel="stylesheet"/>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script> 
<script src="../static/js/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        function Fix(id) {
            var mainBody = document.getElementById("mainBody");
            var enquiry = document.getElementById("enquiry");
            var nextBody = document.getElementById("nextBody");
            var aclist = document.getElementById("aclist");
            if (id == 'mainBody') {
                document.getElementById("mainbodyform").submit();
                if (enquiry.style.display == 'none') {
                    mainBody.style.display = 'none';
                    enquiry.style.display = 'block';
                    if (nextBody.style.display == 'none') {
                        nextBody.style.display = 'block';
                    }
                }
            } else if (id == 'enquiry') {
                if (mainBody.style.display == 'none') {
                    enquiry.style.display = 'none';
                    mainBody.style.display = 'block';
                }
            } else if (id == 'nextBody') {
                document.getElementById("nextBodyform").submit();
                if (aclist.style.display == 'none') {
                    nextBody.style.display = 'none';
                    aclist.style.display = 'block';
                }

            } else {
                if (nextBody.style.display == 'none') {
                    mainBody.style.display = 'none';
                    aclist.style.display = 'none';
		    nextBody.innerHTML = '<form method="post" id="nextBodyForm">{% csrf_token %}<div><input type="hidden" name="form_name" value="add_stage" /></div>
                                            <div><input type="hidden" name="activity_id" value={{activity_id}}></div>
                                            <div class="inp"><input type="text" name="time" placeholder="time" /></div>
                                            <div class="inp"><input type="text" name="subtitle" placeholder="subtitle" /></div>
                                            <div class="inp"><input type="text" name="brief" placeholder="brief" /></div>
                                            <div class="inp"><input type="submit" value="add_stage" /> </div>
                                            <div class="inp">
                                                <input type="button" value="add_stage"  onclick='Fix("nextBody")' ;>
                                            </div>
                                        </form>';
		    nextBody.style.display = 'block';
                }
            }
        }
    </script>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">


 <div class="navigation">
  <ul>
    <li></li>
    <li><a href="#">Index</a></li>
    <li><a href="#">My Activites</a></li>
    <li id="logo">[APP's Name]</li>
    <li><a href="#">My Account</a></li>
    <li><a href="#">Contact Us</a></li>

  </ul>
  <li><div class="inp" id="loginUsername"><input type="text" placeholder="Search Here" /></div></li>
  <!--<li id="search"><a href>Search</a></li>-->
  <ul>
    <ul>
      <li id="keyword1"><a href="">A1</a></li>
      <li id="keyword2"><a href="">BB</a></li>
      <li id="keyword3"><a href="">CC</a></li>
      <li id="keyword4"><a href="">DD</a></li>
      <li id="keyword5"><a href="">EEE</a></li>
      <li id="keyword6"><a href="">FF</a></li>
      <li id="keyword7"><a href="">GGG</a> </li>
    </ul>

  </ul>
  <!--<a href>123</a>-->
  <!--<div class="inp" id="loginPassword"><input type="password" placeholder="Password" /></div>-->
  <!--<div class="login" id="loginBtn"><a href="#">Login</a></div>-->
</div>
  <div id="cover">
    <div class="cover-content">
      <h1>Make busy life easier</h1>
      <h2>Look for interesting activities</h2>
      <a href="#" class="btn">View All Activities</a>
    </div>
  </div>
  <div class="about_con">
        <div class="wrap">
           
            <div class="left">
                <div class="tit">
                    Tree Planting
                    <a href="/activity/?select_id={{activity.id}}" class="btn1">Add into my schdule</a>
                    <a href="/index/" class="btn2">Back to index</a>
                </div>
            </div>
            <div class="right">
                <div class="activities1">
                    <div class="activities" align=center valign=middle>
                                    <div class="products" id="mainBody">
                                        <h3 class="blue">Release</h3>
                                        <form method="post" enctype="multipart/form-data" id="mainbodyform">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="add_act" /></div>
                                            <div class="inp"><input type="text" name="title" placeholder="title" /></div>
                                            <div class="inp"><input type="text" name="introduce" placeholder="intro" /></div>
                                            <div class="inp"><input type="text" name="pub_date" placeholder="date" /></div>
                                            <div class="inp"><input type="text" name="time_start" placeholder="start" /></div>
                                            <div class="inp"><input type="text" name="time_end" placeholder="end" /></div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">add_pic</label>
                                                <div class="inp"><input type="file" name="img" id="img"></div>
                                                <div class="form-group">
                                                    <div class="inp">
                                                        <input type="button" value="relese"  onclick='Fix("mainBody")' ;>
                                                    </div>
                                        </form>
                                     </div>
                                    <div class="products" id="enquiry" onclick='Fix("enquiry")' style="display:none;float:left;">
                                            <div>user={{ user }}</div>
                                            <div>id={{ activity_id }}</div>
                                            <div>builder={{ activity.builder.user.username }}</div>
                                            <div>tile={{ activity.title }}</div>
                                            <div>intro={{ activity.introduce }}</div>
                                            <div>date={{ activity.pub_date }}</div>
                                            <div>start={{ activity.time_start }}</div>
                                            <div>end={{ activity.time_end }}</div>
                                            <div>release={{ activity.release }}</div>
                                            <img src="/{{activity.img}}" alt="no photos">
                                            <div>status={{ status }}</div>
                                            <div>login={{ login_status }}</div>
                                            <p>click for editing</p>
                                    </div>
                                    <div class="products" id="nextBody" style="display:none;float:left;">
                                        <form method="post" id="nextBodyForm">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="add_stage" /></div>
                                            <div><input type="hidden" name="activity_id" value={{activity_id}}></div>
                                            <div class="inp"><input type="text" name="time" placeholder="time" /></div>
                                            <div class="inp"><input type="text" name="subtitle" placeholder="subtitle" /></div>
                                            <div class="inp"><input type="text" name="brief" placeholder="brief" /></div>
                                            <div class="inp"><input type="submit" value="add_stage" /> </div>
                                            <div class="inp">
                                                <input type="button" value="add_stage"  onclick='Fix("nextBody")' ;>
                                            </div>
                                        </form>
                                    </div>
                    <div class="activities" id="aclist" onclick='Fix("aclist")' style="display:none;float:left;">
                            {% for stage in stage_list %}
                            <div class="jj_list">
                                <div class="l_time">{{stage.activity.pub_date}}  {{ stage.tim }}</div>
                                <div class="r_text">
                                    <h2><a href="jj_detail.html">{{stage.subtitle}}</a></h2>
                                    {{stage.brief}}
                                </div>
                            </div>
                            {% endfor %}
                    </div>

                    <div class="clear"></div>
                </div>
    </div>
    </div>


</body>
</html>