<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="UTF-8" /> -->
<title>release</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../static/css/reset.css" rel="stylesheet" />
<link href="../static/css/main.css" rel="stylesheet"/>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script> 
<script src="../static/js/jquery.SuperSlide.2.1.1.js"></script>

<link rel="stylesheet" type="text/css" href="../static/style.css">
<link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">


</head>
<body>
 <div class="navigation">
  <ul>
    <li></li>
    <li><a href="/index/">Index</a></li>
    <li><a href="/myactivity/">My Agenda</a></li>
    <li id="logo">Bill Board</li>
    <li><a href="#">{{username}}</a></li>
    <li><a href="/logout/">Logout</a></li>

  </ul>
     <ul>
  <li><div class="inp" id="loginUsername"><input type="text" id="keyword" placeholder="Search Here" /></div></li>
  <!--<li id="search"><a href>Search</a></li>-->
    </ul>
<ul>
      {% for label in label_list %}
        <li><a href="/activitylist/?label_id={{label.id}}">{{label.name}}</a></li>
      {% endfor %}
      
      </ul>

  </ul>
  <!--<a href>123</a>-->
  <!--<div class="inp" id="loginPassword"><input type="password" placeholder="Password" /></div>-->
  <!--<div class="login" id="loginBtn"><a href="#">Login</a></div>-->
</div>
  <div id="cover">
    <div class="cover-content">
      <h1>Make busy life easier</h1>
      <h2>Look for interesting activities</h2>
      <a href="/activitylist/" class="btn">View All Activities</a>
    </div>
  </div>
  <div class="about_con">
        <div class="wrap">
           
            <div class="left">
                <div class="tit">
                    Tree Planting
                    <a href="/activity/?select_id={{activity.id}}" class="btn1">Add into my schdule</a>
                    <a href="/index/" class="btn2">Back to index</a>
                </div>
            </div>
            <div class="right">
                <div class="activities1">
                    <div class="activities" id="Release" align=center valign=middle>
                                    <div class="products" id="mainBody">
                                        <h3 class="blue">Release</h3>
                                        <form method="post" enctype="multipart/form-data" id="mainbodyform">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="add_act" /></div>
                                            <div class="inp"><input type="text" name="title" placeholder="title" /></div>
                                            <div class="inp"><input type="text" name="introduce" placeholder="intro" /></div>
                                            <div class="inp"><input type="text" name="pub_date" placeholder="date" /></div>
                                            <div class="inp"><input type="text" name="time_start" placeholder="start" /></div>
                                            <div class="inp"><input type="text" name="time_end" placeholder="end" /></div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">add_pic</label>
                                                <div class="inp"><input type="file" name="img" id="img"></div>
                                                <div class="form-group">
                                                    <div class="inp">
                                                        <input type="submit" value="relese" ;>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                     </div>
                                    <div class="products" id="enquiry" >
                                            <div>builder={{ activity.builder.user.username }}</div>
                                            <div>tile={{ activity.title }}</div>
                                            <div>intro={{ activity.introduce }}</div>
                                            <div>date={{ activity.pub_date }}</div>
                                            <div>start={{ activity.time_start }}</div>
                                            <div>end={{ activity.time_end }}</div>
                                            <div>release={{ activity.release }}</div>
                                            <img src="/{{activity.img}}" alt="no photos">
                                            <div>status={{ status }}</div>
                                            
                                            <p>Label</p>
                                        <div class='news_tag'>
                                            {% for label in label_list %}
                                            <a href="/postactivity/?activity_id={{activity_id}}&chosen_label={{label.id}}">{{label.name}}</a>
                                            {% endfor %}
                                        </div>
                                        
                                            <p>Chosen</p>
                                        <div class='news_tag'>
                                            {% for btla in chosen_list %}
                                            <div><a href="/postactivity/?activity_id={{activity_id}}&del_label={{btla.id}}">{{btla.label.name}}</a></div>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            <input type="button" value="new_stage" onclick="newstage()" />
                                        </div>
                                </div>
                               <div id="newStage">
                                    <div class="products" id="nextBody" style="float:left;">
                                        <form method="post" id="nextBodyForm">
                                            {% csrf_token %}
                                            <div><input type="hidden" name="form_name" value="add_stage" /></div>
                                            <div><input type="hidden" name="activity_id" value={{activity_id}}></div>
                                            <div class="inp"><input type="text" name="time" placeholder="time" /></div>
                                            <div class="inp"><input type="text" name="subtitle" placeholder="subtitle" /></div>
                                            <div class="inp"><input type="text" name="brief" placeholder="brief" /></div>
                                            <div class="inp">
                                                <input type="submit" value="add_stage">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                    <div class="activities" id="aclist"  style="float:left;">
                            {% for stage in stage_list %}
                            <div class="jj_list">
                                <div class="l_time">{{stage.activity.pub_date}}  {{ stage.tim }}</div>
                                <div class="r_text">
                                    <h2><a href="jj_detail.html">{{stage.subtitle}}</a></h2>
                                    {{stage.brief}}
                                </div>
                            </div>
                            {% endfor %}
                    </div>

                    <div class="clear"></div>
                </div>
    </div>
    </div>
            </div>
      </div>
</body>
</html>