<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=unicode">
<title>Insert title here</title>
</head>
	<body>
				<div>status={{ status }}</div>
				<div>login={{ login_status }}</div>
				


				{% for dat in dat_list %}
					<div>title={{ dat.title }}</div>
					<div>useful={{ dat.useful }}</div>
					<div>number={{ dat.number }}</div>
				{% endfor %}


				{% for day in days %}
					<div>day</div>
					{% for agenda in day %}
						<div>title={{ agenda.activity.title }}</div>
						<div>remark={{ agenda.remark }}</div>
      					<li><a href='/myactivity/?del_id={{agenda.id}}'>del agenda</a></li>

						<form method="post"> {% csrf_token %} 
							<input type="hidden" name="agenda_id" value={{agenda.id}}><br/> 
							<input type="hidden" name="edit_remark" value="aaaaa"/><br/>        				
							<input type="submit" value="edit remark"/>
						</form>
					{% endfor %}
				{% endfor %}

						<div>year={{ year }}</div>
						<div>month={{ month }}</div>


	</body>
</html>